/***toolbar***/
#toolbar {
  height: 36px;
  border-bottom: 1px solid #ddd;
}
.toolbar_left {
}
.toolbar_left li {
  float: left;
  margin: 0 20px 0 0;
}
.toolbar_left li a {
  font: 14px/36px "Microsoft YaHei";
  display: block;
  height: 34px;
}
.toolbar_left li.current a {
  border-bottom: 2px solid #9c3;
}
.toolbar_right {
}

.toolbar_right li {
  float: left;
  height: 16px;
  padding: 0 13px;
  margin: 10px 0 0;
  border-left: 1px solid #999;
  position: relative;
  z-index: 10;
  font: 14px/14px "Microsoft YaHei";
}
.toolbar_right li a {
  cursor: pointer;
}
.toolbar_right li em {
  float: left;
  width: 20px;
  height: 16px;
  padding-right: 7px;
  background: url("../../Images/public/toolbar.png") no-repeat;
}
.toolbar_right li em.weibo {
  background-position: 0 0;
}

.toolbar_right li em.weixin {
  background-position: -34px 0;
}
.toolbar_right li em.tel {
  background-position: -71px 0;
  width: 10px;
}

.toolbar_right li em.twitter {
  background: url("../../Images/public/twitter-icon.png") no-repeat;
  background-size: 20px 16px;
}
.toolbar_right li.left_n {
  border: none;
}

.toolbar_right li.toolbar_weixin {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  z-index: 11;
  width: 58px;
}
.toolbar_right li.toolbar_weixin.current {
  height: 26px;
  padding: 9px 13px 0;
  margin: 0;
  margin-left: -1px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 58px;
  padding-left: 14px;
}
.toolbar_right li.toolbar_weixin .wx_select {
  position: absolute;
  top: 36px;
  right: -1px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
.toolbar_right li.toolbar_weixin .wx_select img {
  width: 100px;
  display: block;
}

.toolbar_right li.toolbar_twitter {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  z-index: 11;
  width: 73px;
}
.toolbar_right li.toolbar_twitter.current {
  height: 26px;
  padding: 9px 13px 0;
  margin: 0;
  margin-left: -1px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 73px;
  padding-left: 14px;
}
.toolbar_right li.toolbar_twitter .wx_select {
  position: absolute;
  top: 36px;
  right: -1px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
.toolbar_right li.toolbar_twitter .wx_select img {
  width: 100px;
  display: block;
}

.toolbar_right li.toolbar_wb {
  border-left: 1px solid #999;
  z-index: 12;
  width: 58px;
}
.toolbar_right li.toolbar_wb.current {
  height: 26px;
  padding: 9px 13px 0;
  margin: 0;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  margin-right: -1px;
  width: 58px;
}
.toolbar_right li.toolbar_wb .wx_select {
  position: absolute;
  top: 36px;
  right: -1px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
.toolbar_right li.toolbar_wb .wx_select img {
  width: 100px;
  display: block;
}

.toolbar_right li.last {
  border: none;
  z-index: 13;
  width: 63px;
}
.toolbar_right li.last.current {
  height: 26px;
  padding: 9px 13px 0;
  margin: 0;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  margin-left: -1px;
  width: 62px;
}
.toolbar_right li.last dl {
  position: absolute;
  top: 36px;
  right: -1px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  overflow: hidden;
  width: 230px;
}
.toolbar_right li.last dl dt {
  width: 100px;
  margin-right: 10px;
  float: left;
}
.toolbar_right li.last dl dd {
  color: #f65;
  font: 14px/16px "Microsoft YaHei";
  padding-bottom: 3px;
  overflow: hidden;
}
.toolbar_right li.last dl dd.name {
  color: #666;
}

.wx_s_line {
  background: #fff;
  height: 1px;
  overflow: hidden;
  width: 85px;
  margin-top: -6px;
  margin-right: -5px;
  float: right;
}

/*登录后*/
.toolbar_right li.user {
  color: #7b0;
  text-align: center;
  margin-top: 7px;
  *margin-top: 5px;
  border: 1px solid #fff;
  padding: 0 10px;
  width: 98px;
}
.toolbar_right li.user.current {
  border: 1px solid #ddd;
  border-bottom: none;
  margin: 0;
  height: 28px;
  *height: 30px;
  padding-top: 7px;
  *padding-top: 5px;
}
.toolbar_right li .user_body {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.toolbar_right li .user_body span {
  line-height: 19px;
  float: left;
  max-width: 84px;
  height: 20px;
  overflow: hidden;
}
.toolbar_right li .user_body i {
  float: left;
  width: 9px;
  height: 5px;
  background: url("../../Images/public/toolbar.png") no-repeat -19px -27px;
  margin: 8px 0 0 5px;
}
.toolbar_right li .user_body i.down {
  background-position: -40px -27px;
}
.user_select {
  width: 118px;
  border: 1px solid #ddd;
  border-top: none;
  position: absolute;
  right: -1px;
  top: 35px;
  z-index: 10;
}
.user_select a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
}
.user_select a:hover {
  text-decoration: none;
  background: #efefef;
}
.toolbar_right li.toolbar_message {
  border: none;
  position: relative;
}
.toolbar_right li.toolbar_message .message_body {
  cursor: pointer;
}
.toolbar_right li.toolbar_message .message_body span {
  color: red;
}

.mess_cont {
  float: left;
  line-height: 30px;
  border: 1px solid #d2d7d7;
  padding: 0 0 0 15px;
  background: #fff;
  color: #333;
  position: absolute;
  top: 26px;
  left: 2px;
  z-index: 99;
  width: 190px;
}
.mess_cont .notice_list {
  float: left;
  width: 160px;
}
.mess_cont a {
  color: #1481bd;
}
.mess_cont a:hover {
  color: #1481bd;
}
.mess_cont p {
  background: url("../../Images/public/toolbar.png") no-repeat 0 -27px;
  width: 6px;
  height: 6px;
  cursor: pointer;
  margin: 10px 10px 0;
  float: right;
  overflow: hidden;
}
charset utf-8;*{margin:0;padding:0}body{margin:0
auto;font-size:12px;position:static;color:#000;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif}ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p,input{margin:0;padding:0}img{border:none}ul{list-style:none}a{color:#000;text-decoration:none}a:hover{color:#f65;text-decoration:underline}a,area{blr:expression(this.onFocus=this.blur())}input{outline:0}a:focus{outline:0}.clear{clear:both}.left{float:left}.right{float:right}.none{display:none}.clearfix:after{display:block;font-size:0;content:".";clear:both;height:0;visibility:hidden}.clearfix{*height:1%}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt30{margin-top:30px}.tColor{color:#f65}.bColor{color:#e54}.toolbarColor{border-bottom:2px solid #f65}.cff6655{color:#f65}.cfc4a00{color:#fc4a00}.c77bb00{color:#7b0}.textleft{text-align:left}.textright{text-align:right}#header{}.top_auto{width:1190px;margin:10px
auto 0;height:88px;position:relative}.logo{float:left;width:180px;height:88px}.logo
img{width:180px;height:88px;display:block}.top_search{width:590px;margin:25px
0 0 75px}.search_left{float:left;width:496px;height:34px;border:2px
solid #f65;border-right:none;background:url("/Images/sitenew/input_bj.jpg") repeat-x}.search_text{float:left;width:90px;position:relative;z-index:10}.s_text{float:left;border-right:1px solid #feb8a6;height:34px;font:14px/34px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;color:#000;padding:0
0 0 10px;width:79px;cursor:pointer}.s_text
span{float:left;width:60px}.s_text
em{float:left;margin:15px
0 0;width:10px;height:5px;background:url("/Images/sitenew/icon.png") no-repeat -28px 0}.search_select{background:#fff;border:1px
solid #ddd;left:-2px;line-height:25px;padding:1px;position:absolute;top:34px;width:88px}.search_select
a{display:block;color:#333;padding:0
9px}.search_select a:hover{text-decoration:none;background:#efefef}.search{float:left;border:none;width:385px;height:20px;padding:7px
10px;float:left;font:14px/20px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;color:#666;background:none}.search_btn{background:#f65;height:38px;width:92px;cursor:pointer;float:left;font:18px/34px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;color:#fff;border:none}.top_ad{width:220px;height:60px;margin:13px
0 0}.top_ad
img{width:220px;height:60px;display:block}.s_search{position:absolute;left:255px;top:70px;color:#666}.s_search
a{color:#666;margin-right:10px}.s_search a:hover{color:#f65;text-decoration:none}#nav{height:44px;background:#f65}.nav_auto{width:1190px;margin:0
auto;position:relative;z-index:9}.nav{display:inline-block;*display:inline;zoom:1;border-right:1px solid #e35342}.nav
li{float:left;width:90px;border-left:1px solid #e35342;position:relative}.nav li p
a{display:block;text-align:center;height:44px;color:#FFF;font:18px/44px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;cursor:pointer}.nav li p a
em{background:url("/Images/sitenew/icon.png") no-repeat -143px 0;width:9px;height:5px;display:inline-block;vertical-align:middle;margin:0
0 0 5px}.nav li p a
em.up{background-position:-143px -9px}.nav li p a:hover{color:#FFF;background:#de4e3e;text-decoration:none}.nav
li.current{background:#e54}.nav li.current p a:hover{background:#e54}.nav_list{position:absolute;left:-1px;top:42px;padding:10px
0 15px 20px;width:670px;z-index:99;border:1px
solid #de4e3e;box-shadow:2px 2px 8px rgba(0,0,0,0.2);background:#FFF}.arr{position:relative;width:9px;height:5px;left:22px;top:0;background:url("/Images/sitenew/icon.png") no-repeat -156px 0}.nav_list_l{float:left;width:470px;border-right:1px dashed #ccc;padding:0
0 10px}.nav_list_body{overflow:hidden}.nav_list_body
dl{float:left;width:230px;padding:0
5px 0 0}.nav_list_body dl
dt{font:16px/18px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif}.nav_list_body dl dt
a{color:#f65}.nav_list_body dl
dd{overflow:hidden}.nav_list_body dl dd
a{float:left;margin:9px
15px 0 0;font:14px/16px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;white-space:nowrap}.nav_list_r{float:left;width:160px;margin-left:20px}.nav_list_r
dt{padding:0
0 5px}.nav_list_r dt
img{display:block;width:100%}.nav_list_r
dd{text-align:center;padding:5px
0 0;color:#999}.nav_list_r dd
a{font:16px/16px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;color:#333}.nav_list_r dd a:hover{color:#f65}.nav li.menu_list p.p_hover
a{color:#FFF;background:#de4e3e}.nav
li.menu_list_r{width:auto}.nav li.menu_list_r p
a{padding:0
18px}.nav li p a
em.nav_service{background-position:-220px -33px;width:22px;height:18px;margin:-1px 5px 0 0}.nav li p a
em.nav_shop{background-position:-220px -58px;width:23px;height:15px;margin:0
5px 0 0}.wap{position:absolute;top:0;right:0}.wap
a{font:18px/18px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;color:#FFF;display:block;padding:13px
15px 0;height:31px;border-left:1px solid #e35342;border-right:1px solid #e35342}.wap a:hover{background:#de4e3e}.wap a
em{float:left;width:11px;height:17px;background:url("/Images/sitenew/icon.png") no-repeat;padding:0
7px 0 0;margin:1px
0 0}.wap a:hover{text-decoration:none}#foot_service{background:#f65;height:90px;padding:15px
0}.foot_s_body{width:990px;margin:0
auto;overflow:hidden}.foot_s_body
dl{width:197px;border-right:1px dashed #ffb3aa;text-align:center;color:#fff}.foot_s_body
dl.last{border:none}.foot_s_body dl
dt{height:42px;width:56px;background:url("/Images/sitenew/foot.png") no-repeat;margin:0
0 0 70px}.foot_s_body dl
dd{padding:5px
0 0}.foot_s_body dl
dd.name{font:16px/18px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;padding:10px
0 0}.foot_s_body dl
dt.foot_s_1{background-position:0 0}.foot_s_body dl
dt.foot_s_2{background-position:-85px 0}.foot_s_body dl
dt.foot_s_3{background-position:-170px 0}.foot_s_body dl
dt.foot_s_4{background-position:-255px 0}.foot_s_body dl
dt.foot_s_5{background-position:-340px 0}#foot_wx{padding:20px
0;background:#f3f3f3}.foot_w_body{width:990px;margin:0
auto;overflow:hidden}.foot_link{}.foot_link
strong{color:#666;display:block}.foot_l_body{overflow:hidden;padding:0
0 20px}.foot_l_body
a{float:left;white-space:nowrap;margin:10px
10px 0 0;color:#666}.foot_l_body a:hover{color:#666}.foot_w_body
dl{width:348px;height:78px;border:1px
solid #ddd;padding:10px
0 10px 10px;margin-right:10px;background:#fff}.foot_w_body
dl.last{width:228px;margin:0}.foot_w_body dl
dt{height:80px;width:80px;background:url("/Images/sitenew/foot.png") no-repeat;float:left;margin-right:10px}.foot_w_body dl
dt.foot_w_1{background-position:0 -62px}.foot_w_body dl
dt.foot_w_2{background-position:-92px -62px}.foot_w_body dl
dt.foot_w_3{background-position:-183px -62px}.foot_w_body dl
dd{color:#666;padding:4px
0;overflow:hidden}.foot_w_body dl dd
em{color:#f65;font-style:normal;font-weight:bold}.foot_w_body dl dd
span.v{display:inline-block;*display:inline;zoom:1;vertical-align:middle;width:16px;height:14px;background:url("/Images/sitenew/foot.png") no-repeat -283px -128px;margin-left:6px}.foot_w_body dl dd
a{color:#666}.foot_w_body dl dd a:hover{color:#f65;text-decoration:none}.iphone{width:90px;height:28px;background:url("/Images/sitenew/foot.png") no-repeat -283px -62px;margin-right:6px}.iphone:hover{background-position:-283px -97px}.android{width:90px;height:28px;background:url("/Images/sitenew/foot.png") no-repeat -395px -62px}.android:hover{background-position:-395px -97px}.foot_wb{width:90px;height:28px;background:url("/Images/sitenew/foot.png") no-repeat -413px 0}.foot_wb:hover{background-position:-413px -31px}#footer{border-top:1px solid #ddd}.footer_auto{width:990px;margin:0
auto;text-align:center}.footer_bot{padding:20px
0;position:relative}.footer_bot
p{color:#666;line-height:22px}.footer_bot
p.link{color:#333}.footer_bot
a{color:#333}.footer_bot a:hover{text-decoration:underline}.footer_bot p
span{padding:0
8px;color:#999}.footer_bot p.copy
a{color:#666}.footer_bot
img{margin:10px
10px 0 0}.footer_bot .beian
a{position:relative}.footer_bot .beian a
img{position:absolute;left:-23px;top:-14px}.toolbar_auto{width:1190px;margin:0
auto;position:relative}#toolbar .toolbar_right
li.user{color:#f65}#toolbar .toolbar_right li .user_body
i{background:url("/Images/public/toolbar.png") no-repeat -19px -37px}#toolbar .toolbar_right li .user_body
i.down{background:url("/Images/public/toolbar.png") no-repeat -40px -37px}#page{font-family:Tahoma,"SimSun","微软雅黑",tahoma,arial,sans-serif;font-size:12px;height:25px;overflow:hidden;text-align:center;padding:20px
0}#page
a{display:inline-block;height:28px;line-height:28px;margin:0
3px 0 0;white-space:nowrap;vertical-align:middle;color:#333;padding:2px
13px;border:1px
solid #ccc;background:#efefef}#page a:hover{border:1px
solid #f65;color:#f65;background:#fff;text-decoration:none}#page .page-this{display:inline-block;vertical-align:middle;height:28px;line-height:28px;border:1px
solid #d43;background:#d43;color:#fff;padding:2px
13px;margin:0
3px 0 0}.error404{width:1180px;margin:20px
auto;background:#ece7d5;overflow:hidden;text-align:center;padding:60px
0 90px}.error404
img{display:block;width:722px;margin:0
auto}#img_cont{background:#f3f3f3;padding:10px
0;border-bottom:1px solid #ddd}.img_body{width:1190px;margin:0
auto;overflow:hidden}a.banner{width:890px;height:340px;position:relative;cursor:pointer}a.banner
img{width:890px;height:340px}a.banner
dl{position:absolute;left:0;bottom:0;width:850px;height:50px;background:url("/Images/sitenew/channel/opacity.png") repeat;padding:10px
20px;color:#fff;font-family:"Microsoft YaHei"}a.banner:hover{text-decoration:none}a.banner dl
dt{font-size:18px;font-weight:bold;padding:0
0 5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}a.banner dl
dd{font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.hot{width:250px;padding:20px;height:300px;background:#fff}.hot_tit{border-bottom:2px solid #ddd;height:26px}.hot_tit
h2{display:inline-block;*display:inline;zoom:1;color:#f65;border-bottom:2px solid #f65;padding:0
10px 0 0;font:normal 16px/26px "Microsoft YaHei"}.hot
dl{color:#999;padding:20px
0 0}.hot dl
dt{font-size:16px;font-family:"Microsoft YaHei";overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.hot dl dt
a{color:#333}.hot dl dt a:hover{color:#f65}.hot dl
dd{font-family:"SimSun";padding:5px
0 5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.body_auto{width:1190px;margin:0
auto}#content{padding-bottom:30px}.baike{}.baike_tit{border-bottom:2px solid #ccc;height:38px}.baike_tit
h2{float:left;font-size:26px;font-weight:normal;font-family:"Microsoft YaHei"}.baike_tit h2
a{color:#f65}.baike_tit h2 a:hover{text-decoration:none}.baike_nav{float:left;padding:8px
0 0 30px}.baike_nav
a{float:left;font-size:16px;color:#333;font-family:"Microsoft YaHei";padding:0
15px 10px;height:22px}.baike_nav
a.current{color:#f65;background:url("/Images/sitenew/channel/nav_bj.png") no-repeat center bottom}.baike_nav a:hover{text-decoration:none;color:#f65;background:url("/Images/sitenew/channel/nav_bj.png") no-repeat center bottom}.baike_tit
em{width:254px;height:20px;background:url("/Images/sitenew/channel/channel.png") no-repeat 0 0;margin:10px
0 0}.bk_top{overflow:hidden}.bk_top_cont{width:900px;height:250px;overflow:hidden;margin-top:22px}.bk_top_l{width:900px}.bk_top_list{width:900px;overflow:hidden}.bk_top_list
a{float:left;width:430px;margin:0
20px 22px 0;cursor:pointer}.bk_top_list a
dl{overflow:hidden}.bk_top_list a dl
dt{float:left;width:90px;height:68px;margin-right:10px;position:relative}.bk_top_list a dl dt
img{display:block;width:90px;height:68px}.bk_top_list a dl dt
.opa{position:absolute;left:0;top:0;width:100%;height:68px;background:#fff;display:none;opacity:0.1;filter:alpha(opacity=10)}.bk_top_list a dl
dd{color:#999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.bk_top_list a dl
dd.name{font:16px/18px "Microsoft YaHei";color:#333;padding:8px
0 10px}.bk_top_list a:hover{text-decoration:none}.bk_top_list a:hover dl
dd.name{color:#f65}.bk_top_list a:hover dl dt
.opa{display:block}.experts{width:258px;height:249px;border:1px
solid #e6e6e6;border-top:none;padding:20px
15px 0;position:relative}.experts_tit{padding:0
0 15px;font-family:"Microsoft YaHei"}.experts_tit
a{font-size:16px;color:#f65}.experts_body{width:258px;overflow:hidden;position:relative}.experts_cont{overflow:hidden;width:1300px;position:relative}.experts_cont
dl{float:left;width:258px}.experts_cont dl
dt{float:left;width:50px;height:50px;margin-right:10px}.experts_cont dl dt
a{display:block;width:50px;height:50px;border-radius:25px}.experts_cont dl dt
img{display:block;width:50px;height:50px;border-radius:25px}.experts_cont dl
dd{padding:0
0 5px;overflow:hidden}.experts_cont dl dd
h3{float:left;font-size:16px;color:#333;margin-right:15px;font-family:"Microsoft YaHei"}.experts_cont dl dd
a{color:#f65}.experts_cont dl dd
.her{padding:4px
0 0;float:left;font-family:"SimSun"}.experts_cont dl dd .her
em{float:left;width:12px;height:11px;background:url("/Images/sitenew/channel/channel.png") no-repeat 0 -111px;cursor:pointer;padding:0
5px 0 0;margin-top:2px}.experts_cont dl
dd.cont{color:#666;font-family:"SimSun";line-height:20px}.experts_num{position:absolute;left:105px;bottom:58px;overflow:hidden}.experts_num
span{float:left;width:10px;height:10px;background:url("/Images/sitenew/icon.png") no-repeat -180px 0;cursor:pointer;margin:0
3px}.experts_num
span.current{background-position:-199px 0}.experts_num span:hover{background-position:-199px 0}.experts_bot{position:absolute;left:0;bottom:0;width:100%;height:39px;background:#efefef;border-top:1px solid #e6e6e6}.experts_bot
a{float:left;width:144px;text-align:center;line-height:39px;color:#666;font-family:"SimSun"}.experts_bot
a.question{border-right:1px solid #e6e6e6;width:143px}.experts_bot a:hover{text-decoration:none;color:#f65}.experts_bot a
em{display:inline-block;*display:inline;zoom:1;width:12px;height:11px;background:url("/Images/sitenew/channel/channel.png") no-repeat;vertical-align:middle;margin:0
5px 0 0}.experts_bot a.question
em{background-position:-33px -111px}.experts_bot a.ask
em{background-position:0 -111px}.hot_pet{overflow:hidden}.hot_pet_tit{}.hot_pet_tit
h2{font-weight:normal;font-family:"Microsoft YaHei"}.hot_pet_tit h2
a{font-size:18px;color:#f65}.hot_pet_cont{overflow:hidden;width:1212px}.hot_pet_cont
dl{float:left;width:180px;margin:10px
22px 0 0;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-ms-transition:all .2s linear;transition:all .2s linear}.hot_pet_cont dl:hover{-webkit-transform:translate(0,-10px);-moz-transform:translate(0,-10px);-ms-transform:translate(0,-10px);transform:translate(0,-10px);box-shadow:0 0 8px rgba(0,0,0,0.3)}.hot_pet_cont dl:hover dd
a{color:#f65}.hot_pet_cont dl
dt{}.hot_pet_cont dl dt
img{width:180px;height:135px;display:block}.hot_pet_cont dl
dd{background:#efefef;border-top:none;text-align:center;height:34px;font:14px/34px "Microsoft YaHei";overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0
5px}.baike_tit
em.bbs_tit_r{width:236px;height:20px;background-position:0 -30px}.bbs_cont{overflow:hidden}.bbs_top_list{width:900px;height:330px;overflow:hidden}.bbs_top_list
dl{float:left;margin:20px
20px 0 0;width:430px;height:79px}.bbs_top_list dl
dt{float:left}.bbs_top_list dl dt
img{display:block;width:50px;height:50px;border-radius:25px}.bbs_top_list dl
dd{float:right;width:360px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-family:Arial,"SimSun";color:#999;padding:5px
0}.bbs_top_list dl
dd.name{font-size:16px;font-family:"Microsoft YaHei"}.bbs_top_list dl dd.name
a{color:#333}.bbs_top_list dl dd.name a:hover{color:#f65}.bbs_top_list dl dd.time
a{color:#f65}.active{width:248px;height:309px;border:1px
solid #e6e6e6;border-top:none;padding:20px
20px 0}.active_tit{font-size:16px;color:#f65;padding:0
0 10px;font-family:"Microsoft YaHei"}.active_cont{}.active_cont
li{overflow:hidden;border-bottom:1px solid #e6e6e6;padding:6px
0;+padding:5px
0;font-family:Arial,"SimSun"}.active_cont
li.last{border:none}.active_cont
em{float:left;width:21px;height:17px;background:url("/Images/sitenew/channel/channel.png") no-repeat;text-align:center;padding:4px
0 0;font-style:normal;margin-right:10px}.active_cont
em.a_1{background-position:-64px -111px;color:#f65}.active_cont
em.a_2{background-position:-95px -111px;color:#999}.active_cont
a{float:left;margin:4px
0 0;color:#333}.active_cont a:hover{color:#f65}.active_cont
span{color:#999;padding:4px
0 0}.use_tit
h2{width:199px}.use_nav{padding-left:0}.use_nav
a{padding-left:12px;padding-right:12px}.baike_tit
em.use_tit_r{width:155px;height:20px;background-position:0 -58px}.use_cont{overflow:hidden}.use_left{width:199px;border-left:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;height:579px}.use_left
img{display:block;margin:15px
0 0 14px;width:170px;height:170px}.use_center{width:700px;height:580px}.user_c{width:700px;height:580px}.user_c
dl{float:left;width:200px;height:275px;border-left:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding:14px
16px 0}.user_c dl:hover{cursor:pointer}.user_c dl
dt{width:200px;height:200px}.user_c dl dt
img{display:block;width:200px;height:200px}.user_c dl
dd{font-size:14px;color:#f33;font-family:"Arial";padding:7px
0 0}.user_c dl
dd.name{font:12px/18px Arial,"SimSun";height:34px;overflow:hidden}.user_c dl dd.name
a{color:#666}.user_c dl dd.name a:hover{color:#f65;text-decoration:none}.user_c dl:hover dd
a{color:#f65}.use_right{width:248px;height:539px;border:1px
solid #e6e6e6;border-top:none;background:#efefef;padding:20px}.groom{}.groom_tit{padding-bottom:7px;font-family:"Microsoft YaHei";font-size:16px;color:#f65}.groom_tit
a{color:#f65}.groom
dl{overflow:hidden;padding:10px
0 0}.groom dl
dt{float:left;width:80px;height:80px;margin-right:10px}.groom dl dt
img{display:block;width:80px;height:80px}.groom dl
dd{font-size:14px;color:#f33;font-family:"Arial";padding:7px
0 0}.groom dl
dd.name{font:12px/18px Arial,"SimSun"}.groom dl dd.name
a{color:#666}.groom dl dd.name a:hover{color:#f65;text-decoration:none}.brand{width:248px;overflow:hidden}.brand_tit{padding-bottom:3px}.brand_list{width:260px}.brand_list
img{float:left;width:118px;height:53px;margin:10px
12px 0 0}.baike_tit
em.service_tit_r{width:271px;height:20px;background-position:0 -83px}.area{float:left;width:160px;margin-top:7px}.area_left{float:left;margin:2px
15px 0 0;font-family:"Microsoft YaHei"}.area_left
em{float:left;width:13px;height:21px;background:url("/Images/sitenew/channel/channel.png") no-repeat -158px -111px;margin:0
5px 0 0}.area_left
span{float:left;font-size:16px;color:#f65}.area_right{float:left;position:relative;font-family:"SimSun"}.area_right
p{height:22px;width:60px;border:1px
solid #e6e6e6;padding:0
7px;line-height:22px;cursor:pointer;color:#999;position:relative;z-index:2;background:#fff}.area_right
p.down{border-bottom:1px solid #fff}.area_right p.down
em{background-position:-194px -111px}.area_right p
em{display:inline-block;width:8px;height:4px;background:url("/Images/sitenew/channel/channel.png") no-repeat -181px -111px;margin-left:3px;vertical-align:2px}.area_select{position:absolute;width:198px;background:#fff;left:0;top:23px;border:1px
solid #e6e6e6;padding:3px
0 10px;z-index:1}.cai{border-bottom:1px solid #e6e6e6;color:#989898;margin:0
10px;padding:5px
0}.cai
span{color:#f65;font-size:14px;font-family:"Microsoft YaHei";cursor:pointer}.qh_city{padding:0
10px}.qh_city
span{float:left;margin:10px
10px 0;cursor:pointer;color:#333}.qh_city span:hover{color:#f65}.service_left{width:171px;border-left:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;height:391px;padding:14px}.service_left
img{display:block;width:170px;height:128px}.city{overflow:hidden;padding:10px
0 0}.city
p{width:85px;float:left;padding:0
0 15px}.city p
em{float:left;width:8px;height:14px;background:url("/Images/sitenew/channel/channel.png") no-repeat -132px -111px;margin:1px
0 0}.city p
a{float:left;margin:0
4px;color:#333;font-family:"SimSun"}.city p a:hover{color:#f65;text-decoration:none}.city p
span{float:left;font-size:10px;font-family:"Arial";color:#999;padding:1px
0 0}.server_center{height:420px}.service_c{height:420px}.service_c
dl{height:195px}.service_c dl
dt{width:200px;height:133px}.service_c dl dt
img{display:block;width:200px;height:133px}.service_c dl
dd{color:#999;font-size:12px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.service_c dl
dd.cont{padding:12px
0 0}.service_c dl dd
a{color:#333}.service_c dl dd a:hover{color:#f65;text-decoration:none}.service_right{width:248px;height:419px;border:1px
solid #e6e6e6;border-top:none;padding:0
20px;overflow:hidden}.service_right
a{float:left;width:248px;cursor:pointer;margin:20px
0 0}.service_right a
dl{overflow:hidden}.service_right a dl
dt{float:left;width:80px;height:80px;margin-right:12px}.service_right a dl dt
img{display:block;width:100%}.service_right a dl
dd{padding:8px
0 0;color:#999;line-height:20px}.service_right a dl
dd.name{font:20px/22px "Microsoft YaHei";color:#333}.service_right a:hover{text-decoration:none}.service_right a:hover dl
dd.name{color:#f65}.rightside{position:fixed;right:10px;bottom:10px;width:48px}.rightside
a{display:block;height:48px;background:url("/Images/sitenew/channel/btn.png") no-repeat;margin-top:1px}.rightside
a.r_baike{background-position:0 0}.rightside a.r_baike:hover{background-position:-52px 0}.rightside
a.r_bbs{background-position:0 -49px}.rightside a.r_bbs:hover{background-position:-52px -49px}.rightside
a.r_use{background-position:0 -98px}.rightside a.r_use:hover{background-position:-52px -98px}.rightside
a.r_service{background-position:0 -147px}.rightside a.r_service:hover{background-position:-52px -147px}.rightside
a.goTop{background-position:0 -196px}.rightside a.goTop:hover{background-position:-52px -196px}@media screen and (max-width:1190px){.top_auto,.nav_auto,.toolbar_auto{width:990px}.search{width:245px}.search_left{width:356px}.top_search{width:450px}.img_body,.body_auto{width:990px}a.banner{width:690px;height:264px}a.banner
img{width:690px;height:264px}a.banner
dl{width:650px}.bk_top_cont,.bk_top_l,.bk_top_list,.bbs_top_list{width:700px}.bk_top_list
a{width:330px;margin:0
20px 22px 0}.bbs_top_list
dl{margin:20px
20px 0 0;width:330px}.bbs_top_list dl
dd{width:260px}.hot{height:224px}.hot_tit{height:32px}.hot_tit
h2{font:normal 20px/32px "Microsoft YaHei"}.use_tit
h2{width:145px}.use_nav
a{padding-left:8px;padding-right:8px}.hot dl dd,.use_left,.service_left{display:none}.hot_pet_cont{width:1015px}.hot_pet_cont
dl.m_right{margin-right:23px}.hot_pet_cont_xy{height:185px}}